html {
  line-height:1.6;
  max-width: 70ch;
  margin: auto;
  font-family:-apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  padding: 0 20px;
}

a {
  color:#000
}

input:invalid {
  border: 1px red solid;
}

.hide {
  display: none;
}

@media(prefers-color-scheme:dark){
  body {
    background:#000;
    color:#fff
  }
  a {
    color:#fff
  }
  a:visited {
    color:#fff
  }
}
